<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
    <p> This is a project I created for me, to gain practical experience using NodeJs, express 
and handlebars, after acquiring a certificate for completing a NodeJs course at Udemy. 
The data is provided by Johns Hopkins University & Medicine, using their public API. 
For a complete and in-depth analysis of the spread of COVID-19 please visit their site 
at <a href="https://coronavirus.jhu.edu/map.html"> https://coronavirus.jhu.edu/map.html</a>

<br><br>Next certificate
Angular - The Complete Guide (2020 Edition)
    </p>    

        <img class="portrait" src="/img/me.png"  alt="Image" height="297" width="247"
    </div>
    
    {{>footer}}

</body>

</html>