<!DOCTYPE html>

<html>

<head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
        {{>header}}
    <p class="main-content"> This is a project I created for me, to gain practical experience using NodeJs, express 
and handlebars, after acquiring a certificate for completing a NodeJs course at Udemy. 
The data is provided by Johns Hopkins University & Medicine, using their public API. 
For a complete and in-depth analysis of the spread of COVID-19 please visit their site 
at <a href="https://coronavirus.jhu.edu/map.html"> https://coronavirus.jhu.edu/map.html</a>

<br><br>Next certificate
Angular - The Complete Guide (2020 Edition)
  
    <br> {{>footer}}
</p>
  <div id="img-me">
          <img class="m1" src="/img/m1.png" />
          <img class="m2" src="/img/m2.png" />
    </div>
   
{{!-- <p>
    {{>footer}}
</p> --}}


</body>

</html>