<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
        <div>
      <ul class="people_list">
              {{#each body.data}}
            <li>{{this.iso}} -  {{this.name}}</li>
              {{/each}}
      </ul>
      </div>
    </div>
    
    {{>footer}}
</body>

</html>